* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.pro-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

.active {
  text-decoration: underline !important;
}

.nav-item {
  text-decoration: none;
  list-style: none;
}

.nav-item a {
  text-decoration: none;
  color: blue;
}

/* DRAGONS */

.dragoncont {
  padding: 3rem;
}

.dragonsubcont {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 20px;
  gap: 1.5rem;
}

.img {
  width: 25%;
}